.animated-text {
  font-weight: bold;
  font-size: 28px; /* Adjust font size as needed */
  color: #333;
  display: inline-block;
  position: relative;
  animation: glow 2s infinite alternate; /* Add animation */
}

@keyframes glow {
  0% {
      color: #333;
      text-shadow: 0 0 10px #333;
  }
  100% {
      color: #007bff; /* Change color on animation */
      text-shadow: 0 0 20px #007bff; /* Add text shadow */
  }
}

.navbar-brand {
  font-weight: bold;
  font-size: 28px; /* Increase logo size */
  color: #333;
}
.navbar-nav .nav-link {
  font-size: 18px;
  color: #333;
}
.navbar-nav .nav-link:hover {
  color: #007bff; /* Change color on hover */
}
.profile-dropdown {
  position: relative;
}
.profile-dropdown .dropdown-menu {
  min-width: 200px;
}